:root {
  --bg-color: #141414;
  --bg-color2: #181818;
  --bg-color2-transparent: #18181899;
  --text-color: #EDEDED;
  --primary-main-color: #CC6200;
  --primary-shade-color: #ad5400;
  --primary-tint-color: #da6900;
  --accent-main-color: #a34f00;
  --primary-main-color-transparent: #CC620069;
  --accent-color-semi-transparent: #ff88594a;
}
::selection {
  background: var(--accent-main-color);
  color: rgb(255, 255, 255);
}

.light-theme {
  --bg-color: white;
  --text-color: black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: #fafafa;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
  overflow-x: hidden;
}

section {
  padding: 2rem;
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
  color: var(--text-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  margin-top: auto;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid var(--primary-main-color);
  display: inline-block;
}

/* Welcome section */
#welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('images/orange-waves-2to1.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  background-size:cover;
  color: var(--text-color);
  gap: 2rem;
}

#welcome-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#welcome img {
  width: 15rem;
  height: auto;
  border-radius: 30%;
  display: flex;
  margin-right: 0.5rem;
}

 svg {
  width: 100%;
  height: auto;
  display: block;
}

#welcome p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0%;

}

#welcome h1 {
  font-size: 2rem;
  margin: 0%;
}
#welcome a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: solid var(--primary-main-color) 1px;
  border-radius: 4px;
  transition: all 0.5s;

}
#welcome a:hover {
  background-color: var(--primary-main-color-transparent);
  scale: 1.1;
  font-weight: 500;
}

#socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
#socials a {
  border: none;
  padding: 0;
  opacity: 0.7;
}
#socials a img{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border-radius: 0%;
  margin: 0;
  width: 2.3rem;
  height: auto;
}

#socials a:hover {
  background-color: transparent;
  opacity: 1;
  scale: 1;
}
@media only screen and (max-width: 768px) {
  #welcome img {
    margin-top: 1rem;
    width: 12rem;
    border: var(--accent-color-semi-transparent) 0.5rem solid;
  }
  #welcome {
    flex-direction: column;
    justify-content:start;
    
    background-image: url('images/orange-waves-phone.svg');
  }
  #welcome-content {
    margin-left: 1rem;
    align-items: center;
  }
  #welcome h1 {
    text-align: center;
  }

}
/* About section */
#about {
  background-color: var(--bg-color2);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}
#about p {
  text-align: left;
  margin-bottom: 10rem;
}
#about h1 {
  text-align: left;
}

/* Skills section */

#skills {
  background-color: var(--bg-color2);
  max-width: 65%;
  margin-top: 2rem;
  border-radius: 1rem;
}

.skills-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.skills-box {
  margin: 0;
  border: var(--primary-shade-color) 2px solid;
  border-radius: 1rem;
  background-color: #202020;
}

.skills-box h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}


.skills-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 1rem;
}


/* Projects section */
#projects {
  background-color: var(--bg-color2);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
.project {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
  background: var(--bg-color2);
  margin-bottom: 1.5rem;
  /* border: 3px solid rgba(0, 0, 0, 0.409); */
  position: relative;
  border-radius: 10px;
  color: var(--text-color);
}
.project:hover {
  transition: all 0.3s;
  scale: 1.1;
}

.project-content {
  flex: 1;
}

.project h3 {
  color: var(--primary-tint-color);
  font-size: 1.4rem;
  margin: 0;
  text-align: start;
  font-weight: 790;
}

.project h4 {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 0;

  font-weight: 500;
}

.project img {
  width: 55%;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project p {
  color: var(--text-color);
  margin: 0.2rem 0;
  font-size: 1.2rem;
  
}

.project a {
  text-decoration: none;
  color: var(--text-color);
  background-color: var() ;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: solid var(--accent-main-color) 1px;
  transition: background-color 0.3s;
}

.project a:hover {
  background-color: var(--primary-main-color-transparent);
  font-weight: 500;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-main-color);
  border-radius: 8px;
  border: 2px solid #1c1c1c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-shade-color);
}

/* Firefox styling for scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-main-color) var(--bg-color2);
}

/* Navbar */
nav {
  background-color: var(--primary-main-color);
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  top: 0;
  position: sticky;
  z-index: 10;
  margin: 0;
}

nav.navbar-changed{
  background-color: var(--bg-color2);
  transition: background-color 0.3s ease; /* Smooth transition */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  gap: 2rem;
  margin-left: 2.5rem;
  flex-wrap: wrap;
}

nav a {
  font-weight: light;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: all 0.3s;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: var(--bg-color2);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav.navbar-changed a::after {
  background: var(--primary-main-color);
}

nav a:hover::after {
  width: 100%;
  left: 0;
  height: 0.2rem;
  background: var(--bg-color2);
}
nav.navbar-changed a:hover::after {
  background: var(--primary-main-color);
}

footer {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  padding: 1.5rem;
  background-color: var(--bg-color2);
  color: var(--primary-tint-color);
  border-top: 2px solid var(--primary-main-color);
}

footer a {
  color: var(--text-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--accent-main-color);
}